* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  .back {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #fff; /* Changed background color to blue */
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .login-box {
    width: 300px;
    padding: 40px;
    position: relative;
    background: #fff;
    text-align: center;
    /* box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5); */
    border-radius: 10px;
  }

  .login-box h2 {
    margin-bottom: 30px;
    color: #333;
  }

  .textbox {
    position: relative;
    margin-bottom: 30px;
  }

  .textbox input {
    width: 100%;
    padding: 10px;
    background: #f1f1f1;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
  }

  .textbox input:focus {
    background: #e1e1e1;
  }

  /* .btn {
    width: 100%;
    background: #333;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    color: #fff;
  }

  .btn:hover {
    background: #555;
  } */

  .btn {
    padding: 8px 12px; /* Reduced padding to make buttons smaller */
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary {
    display: block;
    width: 100%;
    max-width: 200px; /* Set a maximum width to control the button's size */
    margin: 20px auto; /* Center the button horizontally and provide margin */
    background-color: #007bff;
    border: none;
    color: #fff;
  }
  